@import "tailwindcss";

html {
  font-size: 16px;
}

:root {
  --primary: #ffffff;
  --secondary: #4C2E24;
  --background: #FFF9F5;
  --accent: #DA834D;
  --light-accent: #FFDEC9;
  --foreground: #4C2E24;
  --error: #DA300A;
  --success: #4A7C00;
  --bundle: #F59E0B;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-light-accent: var(--light-accent);
  --color-bundle: var(--bundle);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

/* Hide scrollbars for horizontal scroll */ 
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
