@import "tailwindcss";

:root {
  --primary: #ffffff;
  --secondary: #60604A;
  --background: #f0f0f0;
  --accent: #FBD508;
  --light-accent: #FFF6C8;
  --foreground: #60604A;
  --error: #FF7373;
  --success: #76CC62;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ffffff;
    --secondary: #60604A;
    --background: #f0f0f0;
    --accent: #FBD508;
    --light-accent: #FFF6C8;
    --foreground: #60604A;
    --error: #FF7373;
    --success: #76CC62;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

/* Hide scrollbars for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
