@import "tailwindcss";

:root {
  --primary: #ffffff;
  --secondary: #4c2e24;
  --background: #f0f0f0;
  --accent: #da834d;
  --light-accent: #ffdec9;
  --foreground: #4c2e24;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ffffff;
    --secondary: #4c2e24;
    --background: #f0f0f0;
    --accent: #da834d;
    --foreground: #4c2e24;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
